
html {
    width: auto;
    height: auto;
}


.wrap {
    max-width: 1100px;
    width: 90%;
    margin: auto;
}


.store-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.category_list {
    display: flex;
    flex-direction: column;
    width: 18%;
}

.category_list .category_item {
    display: block;
    width: 90%;
    padding: 15px 0;
    margin-bottom: 20px;
    background: #E84C3D;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.category_list .ct_item-active {
    background: #2D3E50;
}


/* PRODUCTOS ============*/

.products-list {
    width: 82%;
    display: flex;
    flex-wrap: wrap;
}

.products-list .product-item {
    width: 22%;
    margin-left: 3%;
    margin-bottom: 25px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    transition: all .4s;
}


.products-list .product-item a {
    display: block;
    width: 100%;
    padding: 8px 0;
    background: #2D3E50;
    color: #fff;
    text-align: center;
    text-decoration: none;
}


.navbar {
    background-color: #2D3E50;
    height: 70px;
}

#imagen {
    width: 120px;
    height: 140px;
}


#licores {
    width: 600px;
    height: 400px;
}


#section {
    background-color: #2D3E50;
}


footer {
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
}


ul.demo {
  list-style-type: none;
  margin: 0;
  padding: 0;
}